.career-hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 7%;
  overflow: hidden;
  font-family: 'Red Hat Display';

  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 7.6em;
    height: 7.6em;
    border-radius: 50%;
    background: #b41e85;
    opacity: 0.38;
    filter: blur(3em);
  }

  &::before {
    top: 25%;
    left: -2%;
  }

  &::after {
    right: -2%;
    bottom: 10%;
  }

  &__text-details {
    max-width: 40%;

    h1 {
      line-height: 1.1;
      font-size: 2.8em;
      font-weight: 700;
      color: #4b4b4b;

      span {
        color: #027cbc;
      }
    }

    p {
      font-size: 1.2em;
      font-weight: 600;
      color: #4b4b4b;
      margin-top: 1.5em;
      line-height: 1.8;
    }

    a {
      text-decoration: none;
      font-size: 1em;
      font-weight: 400;
      white-space: nowrap;
      padding: 0.8em 4em;
      background: linear-gradient(93.28deg, #b41e85 11.09%, #007cbc 93.81%);
      border-radius: 0.5em;
      color: #ffffff;
      margin-top: 2em;
      display: inline-block;
    }
  }

  &__main-image {
    max-width: 30em;
    width: 50%;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .career-hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column-reverse;
    padding: 2em 7%;
    overflow: hidden;
    font-family: 'Red Hat Display';
    gap: 2em;
  
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 7.6em;
      height: 7.6em;
      border-radius: 50%;
      background: #b41e85;
      opacity: 0.38;
      filter: blur(3em);
    
    }
  
    &::before {
      top: 25%;
      left: -2%;  display: none;
    }
  
    &::after {
      right: -2%;
      bottom: 10%;
    }
  
    &__text-details {
      max-width: 90%;
      margin-bottom: 1em;
  
      h1 {
        line-height: 1.1;
        font-size: 1.7em;
        font-weight: 700;
        color: #4b4b4b;
  
        span {
          color: #027cbc;
        }
      }
  
      p {
        font-size: 1.2em;
        font-weight: 600;
        color: #4b4b4b;
        margin-top: 1.5em;
        line-height: 1.8;
      }
  
      a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        white-space: nowrap;
        padding: 0.8em 4em;
        background: linear-gradient(93.28deg, #b41e85 11.09%, #007cbc 93.81%);
        border-radius: 0.5em;
        color: #ffffff;
        margin-top: 2em;
        display: inline-block;
      }
    }
  
    &__main-image {
      max-width: 30em;
      width: 50%;
      height: auto;
    }
  }
  
}


@media only screen and (max-width: 900px) {
  .career-hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column-reverse;
    padding: 2em 7%;
    overflow: hidden;
    font-family: 'Red Hat Display';
    gap: 3em;
  
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 7.6em;
      height: 7.6em;
      border-radius: 50%;
      background: #b41e85;
      opacity: 0.38;
      filter: blur(3em);
    
    }
  
    &::before {
      top: 25%;
      left: -2%;  display: block;
    }
  
    &::after {
      right: -2%;
      bottom: 10%;
    }
  
    &__text-details {
      max-width: 90%;
      margin-bottom: 1em;
  
      h1 {
        line-height: 1.3;
        font-size: 1.5em;
        font-weight: 700;
        color: #4b4b4b;
  
        span {
          color: #027cbc;
        }
      }
  
      p {
        font-size: 1em;
        font-weight: 600;
        color: #4b4b4b;
        margin-top: 1em;
        line-height: 1.8;
      }
  
      a {
        text-decoration: none;
        font-size: 1em;
        font-weight: 400;
        white-space: nowrap;
        padding: 0.8em 4em;
        background: linear-gradient(93.28deg, #b41e85 11.09%, #007cbc 93.81%);
        border-radius: 0.5em;
        color: #ffffff;
        margin-top: 2em;
        display: inline-block;
      }
    }
  
    &__main-image {
      max-width: 30em;
      width: 50%;
      height: auto;
    }
  }
  
  
}
