.test-process {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  text-align: center;
  font-family: 'Red Hat Display';
  z-index: -2;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      color: #464646;
      font-size: 2em;
      font-weight: 700;

      span {
        color: #b41e85;
      }
    }

    p {
      color: #6c6c6c;
      font-size: 1em;
      margin-top: 0.5em;
    }
  }

  &__icon-with-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em 0;
    background: #e3f3fb;
    margin-top: 2em;
    z-index: -2;

    ul {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3em;
      width: fit-content;
      list-style: none;
      flex-wrap: wrap;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          width: 5em;
          height: 5em;
          padding: 0.5em;
          border-radius: 50%;
          background: #027cbc;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          z-index: 5;

          img {
            width: 2.5em;
            height: auto;
          }
        }

        h4 {
          color: #141414;
          font-size: 0.875em;
          font-weight: 700;
          margin: 0.5em 0;
        }
        p {
          color: #111111;
          font-size: 0.75em;
          font-weight: 600;
          line-height: 1.3;
          width: 12em;
        }
      }
    }
  }

  &__line {
    position: absolute;
    top: 28%;
    left: 8%;
    width: 87%;
    z-index: 1;
    display: inline-block;
    border-top: 0.1em dashed #027cbc;
  }

  @media screen and (max-width: 1064px) {
    &__header {
      h1 {
        font-size: 1.5em;
      }
    }

    &__icon-with-text-container {
      font-size: 0.9em;
    }
  }

  @media screen and (max-width: 834px) {
    &__icon-with-text-container {
      ul {
        gap: 1em;

        li {
          span {
            width: 4em;
            height: 4em;

            img {
              width: 2em;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .test-process{
    &__line{
      display: none;
  
  }
}
}